<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="CartMapper">

	<select id="totalCount">
		SELECT count(*) FROM cart_t WHERE cart_user_email = #{userEmail}
	</select>

	<insert id="addCart" parameterType="ryu.park.shop.vo.CartVO">
		INSERT INTO cart_t(cart_seq, cart_goods_seq, cart_user_email, cart_goods_cnt, cart_crt_date)
		VALUES(
		CART_SEQUENCE.NEXTVAL,
		#{cartGoodsSeq}, 
		#{cartUserEmail}, 
		#{cartGoodsCnt}, 
		#{cartCrtDate})
		<selectKey keyProperty="cartSeq" resultType="Integer" order="AFTER">
			SELECT CART_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<update id="updateCart" parameterType="ryu.park.shop.vo.CartVO">
		UPDATE cart_t
		SET
		cart_goods_cnt = #{cartGoodsCnt}
		WEHRE cart_seq = #{cartSeq}
	</update>

	<delete id="deleteCartList" parameterType="java.util.Map">
		DELETE
		FROM cart_t
		WHERE
		<foreach collection="cartSeqList" item="cartSeq" separator="or"
			open="(" close=")">
			cart_user_email = (SELECT cart_user_email FROM cart_t WHERE cart_seq = #{cartSeq})
			AND  
			cart_goods_seq = (SELECT cart_goods_seq FROM cart_t WHERE cart_seq = #{cartSeq})
		</foreach>
	</delete>


	<select id="getCartList" resultMap="cartVOResultMap" resultType="java.util.HashMap">
		SELECT C.*, G.* FROM cart_t C INNER JOIN goods_t G ON C.cart_goods_seq = G.goods_seq  
		WHERE
		C.cart_user_email = #{userEmail}
	</select>
 
	<resultMap type="ryu.park.shop.vo.CartVO" id="cartVOResultMap">
		<id property="cartSeq" column="cart_seq"/>
		<result property="cartGoodsSeq" column="cart_goods_seq"/>
		<result property="cartUserEmail" column="cart_user_email"/>
		<result property="cartGoodsCnt" column="cart_goods_cnt"/>
		<result property="cartCrtDate" column="cart_crt_date"/> 
		
		<association property="goodsVO" javaType="ryu.park.shop.vo.GoodsVO">
			<id property="goodsSeq" column="goods_seq" />
			<result property="goodsSubject" column="goods_subject" />
			<result property="goodsCost" column="goods_cost" />
			<result property="goodsMainPicUrl" column="goods_main_pic_url" />
			<result property="goodsContents" column="goods_contents" />
			<result property="goodsCrtDate" column="goods_crt_date" />
			<result property="goodsStock" column="goods_stock" /> 
		</association>
	</resultMap>
	

</mapper>