<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="CartMapper">

	<select id="totalCount">
		SELECT count(*) FROM cart_t WHERE cart_user_email = #{userEmail}
	</select>
	
	<resultMap id="procTestMap" type="HashMap"></resultMap> 

	<parameterMap type="java.util.Map" id="upsertCartParamMap">
		<parameter property="result" mode="OUT" jdbcType="INTEGER" javaType="java.lang.Integer" resultMap="procTestMap"/>
		<parameter property="cartUserEmail" mode="IN" jdbcType="VARCHAR" javaType="java.lang.String" />
		<parameter property="cartGoodsSeq" mode="IN" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<parameter property="cartGoodsCnt" mode="IN" jdbcType="INTEGER" javaType="java.lang.Integer" />
	</parameterMap>

	<select id="upsertCart" parameterMap="upsertCartParamMap" statementType="CALLABLE">
		{ CALL CART_UPSERT_PROC(?,?,?,?) }
	</select>

	<delete id="deleteCartList" parameterType="java.util.Map">
		DELETE
		FROM cart_t
		WHERE
		<foreach collection="cartGoodsSeqList" item="cartGoodsSeq" separator="or"
			open="(" close=")">
			cart_user_email = #{cartUserEmail} AND cart_goods_seq = #{cartGoodsSeq}
		</foreach>
	</delete>


	<select id="getCartList" resultMap="cartVOResultMap">
		SELECT C.*, G.* FROM cart_t C INNER JOIN goods_t G ON C.cart_goods_seq = G.goods_seq  
		WHERE
		C.cart_user_email = #{userEmail}
		ORDER BY C.cart_crt_date DESC
	</select>
 
	<resultMap type="ryu.park.shop.vo.CartVO" id="cartVOResultMap">
		<id property="cartSeq" column="cart_seq"/>
		<result property="cartGoodsSeq" column="cart_goods_seq"/>
		<result property="cartUserEmail" column="cart_user_email"/>
		<result property="cartGoodsCnt" column="cart_goods_cnt"/>
		<result property="cartCrtDate" column="cart_crt_date"/> 
		
		<association property="goodsVO" javaType="ryu.park.shop.vo.GoodsVO">
			<id property="goodsSeq" column="goods_seq" />
			<result property="goodsSubject" column="goods_subject" />
			<result property="goodsCost" column="goods_cost" />
			<result property="goodsMainPicUrl" column="goods_main_pic_url" />
			<result property="goodsContents" column="goods_contents" />
			<result property="goodsCrtDate" column="goods_crt_date" />
			<result property="goodsStock" column="goods_stock" /> 
		</association>
	</resultMap>
	

</mapper>