<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="ManagerMapper">
	<select id="findManager" resultType="UserVO">
		SELECT *
		FROM USER_T
		WHERE
		user_email = #{userEmail} and user_join_type = 'MANAGER'
	</select>

	<select id="loginManager" resultType="UserVO">
		SELECT *
		FROM USER_T
		WHERE
		user_email = #{userEmail} and user_password = #{userPassword}
	</select>

	<insert id="addManager" parameterType="UserVO">
		INSERT INTO USER_T (user_email, user_password, user_nickname, user_join_date, user_join_type)
		VALUES (#{userEmail}, #{userPassword}, #{userNickname}, #{userJoinDate}, #{userJoinType})
	</insert>

	<insert id="addGoods" parameterType="GoodsVO">
		INSERT INTO GOODS_T (goods_seq, goods_cost, goods_stock, goods_crt_date, goods_contents, goods_subject, goods_main_pic_url)
		VALUES (GOODS_SEQUENCE.NEXTVAL, #{goodsCost}, #{goodsStock}, #{goodsCrtDate}, #{goodsContents}, #{goodsSubject}, #{goodsMainPicUrl})
		<selectKey keyProperty="goodsSeq" resultType="Integer"
			order="AFTER">
			SELECT GOODS_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
	</insert>


	<resultMap id="getGoodsListResult" type="GoodsVO">
		<id column="goods_seq" property="goodsSeq" />
		<result column="goods_subject" property="goodsSubject" />
		<result column="goods_cost" property="goodsCost" />
		<result column="goods_stock" property="goodsStock" />
		<result column="goods_main_pic_url" property="goodsMainPicUrl" />
		<result column="goods_contents" jdbcType="CLOB" property="goodsContents" javaType="java.lang.String" />
		<result column="goods_crt_date" property="goodsCrtDate" />
	</resultMap>

	<select id="getGoodsOne" resultMap="getGoodsListResult">
		SELECT *
		FROM GOODS_T
		WHERE
		goods_seq = #{goodsSeq}
	</select>

	<update id="updateGoodsOne" parameterType="GoodsVO">
		UPDATE GOODS_T
		SET
			goods_subject = #{goodsSubject},
			goods_cost = #{goodsCost},
			goods_stock = #{goodsStock},
			goods_main_pic_url = #{goodsMainPicUrl},
			goods_contents = #{goodsContents}
		WHERE goods_seq = #{goodsSeq}
	</update>
	
	<select id="getUserOne" resultType="UserVO">
		SELECT *
		FROM USER_T
		WHERE
		user_email = #{userEmail}
	</select>

	<update id="updateUserOne" parameterType="UserVO">
		UPDATE USER_T
		SET
			user_phone_num = #{userPhonNum},
			user_addr_city = #{userAddrCity},
			user_addr_area = #{userAddrArea},
			user_addr_detail = #{userAddrDetail},
			user_name = #{userName},
		 	user_nickname = #{userNickname}
		WHERE user_email = #{userEmail}
	</update>

	<select id="goodsTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM
		GOODS_T
		<include refid="search"></include>
	</select>
	
	<select id="userTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM
		USER_T
		<include refid="search"></include>
	</select>
	 

	<!-- 게시글 전체 목록 조회 및 검색조회까지 -->
	<select id="getGoodsList" resultMap="getGoodsListResult">
		<!-- 목록 조회 및 페이징 전체 쿼리 -->
		<include refid="pagingHeader"></include>
		SELECT *
		FROM GOODS_T
		<include refid="search"></include>
		ORDER BY goods_seq DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<select id="getUserList" resultType="UserVO">
		<!-- 목록 조회 및 페이징 전체 쿼리 -->
		<include refid="pagingHeader"></include>
		SELECT *
		FROM USER_T
		<include refid="search"></include>
		ORDER BY user_join_date DESC
		<include refid="pagingFooter"></include>
	</select>

	<!-- 검색 조건 sql -->
	<sql id="search">
		<choose>
			<!-- 검색옵션이 전체 검색일 경우 -->
			<when test="searchOption == 'allGoods'">
				WHERE
				(goods_subject like '%'||#{keyword}||'%'
				OR goods_contents LIKE '%'||#{keyword}||'%')
			</when>
			<when test="searchOption == 'allUser'">
				WHERE
				(user_email like '%'||#{keyword}||'%'
				OR user_nickname LIKE '%'||#{keyword}||'%')
			</when>
			<!-- 전체 검색이 아닐 경우 -->
			<otherwise>
				WHERE
				${searchOption} LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>

	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT X.* FROM (
		SELECT ROWNUM AS rnum, A.* FROM (
	</sql>
	<sql id="pagingFooter">
		) A
		<![CDATA[
		WHERE ROWNUM <= #{end} ) X
		WHERE X.rnum >= #{start}
		]]>
	</sql> 

	<delete id="deleteGoodsList" parameterType="java.util.Map">
		DELETE
		FROM GOODS_T
		WHERE
		<foreach collection="goodsSeqList" item="goodsSeq" separator="or" open="(" close=")">
			goods_seq = #{goodsSeq}
		</foreach> 
	</delete>

</mapper>
