<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="UserMapper"> 
	<select id="findUser" resultType="UserVO"> 
		SELECT user_email, user_phone_num, user_password, user_addr_city, user_addr_area, user_addr_detail, user_name, user_nickname, user_join_date, user_join_type
		FROM USER_T
		WHERE user_email = #{userEmail}
	</select>
	
	<select id="loginUser" resultType="UserVO">
		SELECT * 
		FROM USER_T
		WHERE user_email = #{userEmail} and user_password = #{userPassword}
	</select>
	
	<insert id="addUser" parameterType="UserVO">
		INSERT INTO USER_T (user_email, user_password, user_nickname, user_join_date, user_join_type)
		VALUES (#{userEmail}, #{userPassword}, #{userNickname}, #{userJoinDate}, #{userJoinType})
	</insert>
</mapper>
